.topRow{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.bottomRow{
    width:100%;
    display: flex;
    justify-content: space-between;
    height:35px;
}
.flexText{
    display:block;
    font-weight:bold;
    font-size: 16px;
}
.bottom {
    margin-top:15px;
}
.timeBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.airlineImage{
    max-width:100px;
    max-height:60px;
    background: white;
}
.flightsAvailable{
    min-height:100px;
    height: fit-content;
    border:1px solid black;
    display: flex;
    flex-flow: row wrap;
    background: white;
    justify-content: space-between;
    text-align: left;
}
.flightDetails{
    height: fit-content;
    border-top: 1px solid black;
    width: 100%;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    border-collapse: collapse;
}
tr{
    height: 25px;
}
.imageContainer{
    height: 60px;
    width: 100px;
}