<div class="evenMoreContained">
<div class="container">
    <h3 class="dateSelect">Flight From:</h3>
    <form>
        <input name="flightFrom" type="text" [(ngModel)]="flightFrom">
    </form>
    <h3 class="dateSelect">Flight To(optional):</h3>
    <form>
        <input name="flightTo" type="text" [(ngModel)]="flightTo">
    </form>
    <h3 class="dateSelect">Maximum Price(optional):</h3>
    <form>
        <input name="maxPrice" type="text" [(ngModel)]="maxPrice">
    </form>
    <h3 class="dateSelect">Select a date:</h3>

<calendar-header [(view)]="view" [(viewDate)]="viewDate">
</calendar-header>

<div [ngSwitch]="view"  class="calendarClass">
    <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
    (dayClicked) = "wasClicked()"
    >
</mwl-calendar-month-view>
</div>
<div *ngIf="questionMarked == true"> <div class="theParams"><p class="selections" *ngIf="flightFrom != null">from {{flightFrom}}</p> <p class="selections" *ngIf="flightTo != null"> to {{flightTo}}</p><p class="selections" *ngIf="clickedDate != null"> on {{ clickedDate| date:'MMM d, y'}} </p><p class="selections" *ngIf="maxPrice != null"> for under ${{maxPrice}}</p></div></div>
<div *ngIf="topBar"><div class="theParams"><p class="selections">{{topBar}}</p></div></div>
<div class="submitDiv">
    <button class="submitButton" (click)="getFlight()">Search Flights!</button>
</div>
</div>
<div class="flightDiv">
    <div class="overflowDiv">
    <div class="flightsAvailable" *ngFor="let f of dayFlights">
        <div class="topRow"><img class="airlineImage" src="{{f.airline}}"><p class="flexText">duration: {{f.duration}}</p> <p class="flexText">${{f.price}}</p><div class="timeBlock"><p class="flexText">Departure: {{ f.departure * 1000 | date:'MMM d, y h:mm a'}}</p> <p class="flexText">Arrival: {{ f.arrival * 1000 | date:'MMM d, y h:mm a'}}</p> </div>
    </div>
    </div>
    </div>
</div>
</div>