<div class="evenMoreContained">
<div class="container">
    <h3 class="dateSelect">Flight From:</h3>
    <form>
        <input name="flightFrom" type="text" [(ngModel)]="flightFrom">
    </form>
    <h3 class="dateSelect">Flight To(optional):</h3>
    <form>
        <input name="flightTo" type="text" [(ngModel)]="flightTo">
    </form>
    <h3 class="dateSelect">Maximum Price(optional):</h3>
    <form>
        <input name="maxPrice" type="text" [(ngModel)]="maxPrice">
    </form>
    <h3 class="dateSelect">Select a date range:</h3>

<calendar-header [(view)]="view" [(viewDate)]="viewDate">
</calendar-header>

<div [ngSwitch]="view"  class="calendarClass">
    <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="clickedDate = $event.day.date"
    (dayClicked) = "wasClicked()"
    >
</mwl-calendar-month-view>
</div>
<div class="submitDiv">
    <button class="submitButton" (click)="getFlight()">Search Flights!</button>
</div>
</div>
<div class="flightDiv">
        <div> <div class="theParams"  [style.background]="wasSubmitted" [style.border]="borderOnSubmit"><p class="selections" *ngIf="flightFrom != null">From {{flightFrom}}</p> <p class="selections" *ngIf="flightTo != null"> to {{flightTo}}</p><p class="selections" *ngIf="dateFrom != null"> available on {{ dateFrom | date:'MMM d, y'}} </p><p class="selections" *ngIf="dateTo != null"> to {{ dateTo | date:'MMM d, y'}} </p><p class="selections" *ngIf="maxPrice != null"> for under ${{maxPrice}}</p></div></div>
        <app-flight-page [flights]="dayFlights"></app-flight-page>
</div>
</div>